/* RESET  */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: 'Open Sans', sans-serif;
 }

header {
   
    height: 70px;
    min-width: 1200px;
 }

 .header-left-column {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left:10px;
 }

 .header-left-column * {
    padding: 10px;
 } 

 .header-right-column {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right:10px;
 }


 .header-right-column * {
    padding: 10px;
    
 } 

.button-blue {
    background-color: #0C63FF;
    color: white;
    box-shadow: none;
    border: none;
    padding: 8px 15px;
 } 

 .flex-header {
    display: flex;
    justify-content: space-between;
 }


 .jumbo {
    background-color: #B4D0E7;
    height: 560px;
 }

 .jumbo-container {
    width: 1000px;
    margin: auto;
 }

 

 h1 {
    font-size: 54px;
    padding: 40px 0px 30px 0px;
 }

 .jumbo-flex-container {
    display: flex;
   
 }

 .jumbo-flex-container img {
    width: 700px;
    height: 410px;
 }

 .margin-button {
    margin: 30px 0px 15px 0px;
 }

 #freccia {
    font-size: 36px;

 }


 main {
  
    height: 1500px;
    width: 900px;
    margin: auto;
    padding-top: 120px;
 }

 .radio-button {
    margin-top: 30px;
 }

 #mensile {
    padding-right: 40px;
   
 }

.flex-fatturazione {
    display: flex;
    margin-bottom: 40px;
}

.column {

    border: solid 1px lightgray;
    width: 270px;
    height: 400px; 
}

.intern-info {
    padding: 30px 0px 0px 30px;

}

.intern-info span {
    display: inline-block;
    margin: 15px 0px;
}

.utenti {
    margin: auto;
    padding: 10px;
    border-bottom: solid 1px lightgray;
    text-align: center;
}

.gray { 
    color: gray;
}



 .logos {
    height: 400px;
    background-color: red;
 }


 .business {
    background-color: #B4D0E7;
    height: 200px;
 }

 .logos {
    height: 400px;

 }

 .faq {
    height: 450px;

 }

 footer {
    background-color: black;
    height: 500px;
 }
 