/* RESET  */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: 'Open Sans', sans-serif;
 }

header {
    height: 60px;
    min-width: 1200px;
 }



 /* <!-- DROPDOWN MENU  --> */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 60px;
   box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.427);
   padding: 10px 10px;
   z-index: 1;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
   display: flex;
   flex-wrap: wrap;
 }
   /* DROPDOWN MENU FINITO  */




 .header-left-column {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 0px;
 }

 .header-left-column * {
    padding: 7px;
 } 


 .header-right-column {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right:10px;
 }


 .header-right-column * {
    padding: 7px;
 } 
 
 .button-blue:hover{
   background-color: #0D2480;
 }

 .white-button:hover{
   background-color: #0D2480;
   color: white;
 }

 .no-border-button:hover {
   background-color: #0D2480;
   color: white;
 }

.button-blue {
    background-color: #0C63FF;
    color: white;
    box-shadow: none;
    border: none;
 } 

 .low-padding {
    padding: 8px 15px;
    margin: 0px 10px;
 }
 
 .big-padding {
    /* padding: 15px 45px; */
    margin: 20px 0px 15px 0px;
    height: 45px;
    width: 240px;   
    font-size: 16px; 
 }

 .center-button {
    width: 100%;
    text-align: center;
 }



 .horizontal {
    color: #DEDEE0;
    size: 1px;
    width: 60px;
    margin: 50px 0px 40px 0px;
 }

 li {
    list-style: none;
 }
 

 .flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }


 .jumbo {
    background-color: #B4D0E7;
    height: 580px;
 }

 .jumbo-container {
    width: 1000px;
    margin: auto;
 }

 

 h1 {
    font-size: 54px;
    padding: 40px 0px 30px 0px;
 }

 h2 {
    font-size: 30px;
 }
 h4 {
    margin-bottom: 20px;
 }

 .jumbo-flex-container {
    display: flex; 
 }

 .jumbo-flex-container img {
    width: 700px;
    height: 410px;
 }

 .margin-button {
    margin: 30px 0px 15px 0px;
 }

 #freccia {
    font-size: 36px;
    background-color: transparent;
    border: none;
 }

 

 main { 
    height: 3700px;
    width: 900px;
    margin: auto;
    padding-top: 120px;
 }

 .radio-button {
    margin-top: 30px;
 }

 #mensile {
    padding-right: 40px;
   
 }

.flex-fatturazione {
    display: flex;
    margin-bottom: 40px;
}

.column {
    border: solid 1px lightgray;
    width: 280px;
    height: 1050px; 
}



.intern-info {
    padding: 20px 15px 0px 15px;

}

.intern-info h4 {
    margin: 15px 0px;
}

.intern-info div { 
    margin: 17px 0px;
}

.flex-icon {
    display: flex;
    justify-content: start;
    align-items:baseline;
}

.flex-icon i {
    padding-right: 5px;
}

.utenti {
    margin: auto;
    padding: 10px;
    border-bottom: solid 1px lightgray;
    text-align: center;
}

.gray { 
    color: gray;
    padding-bottom: 20px;
}

.check {
    display: flex;
    align-items:first baseline;
}

.check p {
    padding-left: 5px;
    padding-bottom: 20px;
}

.check i {
    color:#0C63FF
}

.team-row {
    margin-top: 40px;
    width: 100%;
    border: 1px solid lightgrey;
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
}

.row {
    border: 1px solid lightgrey;
    border-top: none;
    padding: 20px 15px 0px 15px;
    height: 230px;
    margin-bottom: 100px;
}

.row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-button {
    padding-top: 40px;
}

.white-button {
    box-shadow: none;
    border: none;
    background-color: white;
    border: 1px solid black;
    margin-top: 40px;
}



 .logos {
    height: 400px;
   
 }

 .partner img {

    width: 560px;
    margin: 0px 45px 0px 0px;
 }


 .partner {
    margin-bottom: 120px;
 }

 .column-no-border {
    width: 280px;
    height: 400px;
    margin: 50px 0px;
 }

 .column-no-border img {
    width: 280px;
 }

 .flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
 }

 .pre-loghi h2 {
    margin-bottom: 50px;
 }

 .pre-loghi {
    margin-bottom: 80px;
 }


 .logos {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
   

 }

 
 .box {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
 }

 .left {
    background-color: aquamarine;
 }

 .logo-box {
    height: 50%;
    width: 50%; 
 }

 .green {
    
    background-color:#A2D39B;
    
 }

.logo-box:hover {
   border: 10px solid #ffffff8c;
}


 .blue {
    background-color: #0093CE;
 }

 .box img {
    width: 120px;
    filter: invert(100%); 
 }

 .bordeaux {
    background-color:#61082B ;
 }
 

 .red {
    background-color: #FF1C1D;
 }

 .azure {
    background-color:#B4D0E7 ;
 }

 .blue-night {
    background-color:#0D2480 ;
 }

 .yellow {
    background-color: #FFD82F ;
 }
 
 .logo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .logo-wrap {
    display: flex;
    flex-wrap: wrap;
 }

 .box-center {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    background-color:#F5F5F5 ;
 }

 .box-center img {
    width: 50%;
    margin: 25px 0px 10px 25px;
 }

 .box-center hr {
    
    margin: 25px;
 }

 .box-center p {
    
    margin: 25px;
    color: grey;
 }
 

 .business {
    background-color: #B4D0E7;
    height: 200px; 
    
 }

.business-center {
    width: 900px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-center div {
    width: 450px;
}


.no-border-button {
    border: none;
    background-color: white;
}



.faq {
    height: 430px;
}

.domande {
    width: 900px;
    margin: auto;
    padding: 60px 0px 30px 0px;
}


.domande h2,hr{
    margin-bottom: 30px;
}


.faq-flex {
    display: flex;
    width: 850px;
    justify-content: space-between;
    align-items: baseline;
    
}

.faq-flex > i {
    font-size: 10px;  
 }

 .faq-flex button {
   background-color: transparent;
    border: none;
 }

 /* INIZIO ACCORDION  */
 .accordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   /* padding: 18px;
   width: 10%; */
   text-align: center;
   border: none;
   outline: none;
   transition: 0.4s;
   font-size: 10px;  
 }

 .active, .accordion:hover {
   /* background-color:#ccc; */

 }

 .panel {
   padding: 0 18px;
   background-color: white;
   display: none;
   overflow: hidden;
 }
/* FINE ACCORDION  */



footer {
    background-color: black;
    height: 550px;
    color: white;
    padding-top: 80px;  
}

.footer-container h3 {
    padding-bottom: 20px;
    font-size: 24px;

}

.footer-container li {
    padding: 8px 0px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;

}

.footer-container {
    padding-bottom: 60px;
}

.footer-box {
    width: 1000px;
    margin: auto;
}

.footer-box hr {
    width: 120px;
    margin: 40px 0px;
}

.language {
    color: #999999;
}